<div class="container__small-card">  
    <div class="container__small-card-content">
        <div class="small-card_picture">
            <img 
            src="https://p2.trrsf.com/image/fget/cf/1200/675/middle/images.terra.com/2023/07/31/jujutsu-kaisen-tnz056bn1hkh.jpg"
            alt="Imagem como SM-placeholder"
            >
        </div>
        
        <div class="small-card__title">
                <h1><a href="">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>

    <div class="container__small-card_separator">
        <hr />
    </div>

</div>

    