<div class="mobile__container">
    <div class="mobile__close">
        <span class="btnFecha">X</span>
    </div>
    <div class="menu-bar__mobile-nav">
        <ul class="menu-bar__mobile-ul">
            <li><a href="#">Home</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Contate-nos</a></li>
        </ul>
        <div class="menu-bar__mobile-button">
            <button><a href="#">Criar conta</a></button>
            <button><a href="#">Conectar</a></button>
        </div>
    </div>
</div>