<div class="container__content">
    <div class="content__cover">
        <img src=" {{ photoCover }}" alt="">
    </div>
    <div class="content__title">
       <h1> {{ contentTitle }}</h1>
       <div class="content__description">
        <p> 
            {{contentDescription}}
        </p>
    </div>
    </div>
    
    <div class="content__quote">
        <blockquote> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, cupiditate adipisci unde perspiciatis non dignissimos repudiandae reprehenderit voluptas ad magni dolorum natus! Recusandae eos quidem pariatur dignissimos illo porro ratione."
        </blockquote>
    </div>
    <div class="content__comments">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae provident laudantium assumenda, fuga suscipit fugit eaque architecto incidunt similique recusandae obcaecati alias iure distinctio sapiente illum quasi dolorem dicta aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor culpa delectus eveniet nobis assumenda laboriosam libero eos. Officiis eligendi distinctio odio explicabo animi. Fuga quisquam repellat nostrum quia autem!
            <br>
            <br>
        <span>Date</span>
        </p>
    </div>
</div>
<app-footer></app-footer>